{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->

<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>-->
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />

<div class="container">
<h1 class="display-4">ADM and ICON Reports</h1>
<hr>
    <div class="col-sm-6">
        <form action="" method="post">
                {{ form.hidden_tag() }}
                Select Date (Month/Year)
            <div class="form-group">
                <div class="input-group date" id="datetimepicker11" data-target-input="nearest">
                    <input name="date" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker11" id="date"/>
                    <div class="input-group-append" data-target="#datetimepicker11" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
        
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker11').datetimepicker({
                        viewMode: 'years',
                        format: 'MM/YYYY'
                    });
                });
            </script>
            <div class="form-group">
                {{ wtf.form_field(form.report) }}
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div class="checkbox">
                          <label data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            {{ wtf.form_field(form.send_email) }}
                          </label>
                          <small id="fileHelp" class="form-text text-muted">This will send the report(s) out to the stored directory list.</small>
                        </div>
                        <div id="collapseOne" aria-expanded="false" class="collapse">
                            <div class="form-group">
                                {{ wtf.form_field(form.emailadd) }}
                            </div>
                            <div class="form-group">
                                {{ wtf.form_field(form.password) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!--<div class="form-group">-->
                <!--<div class="row">-->
                    <!--<div class="col-md-4">-->
                        <!--{{ wtf.form_field(form.send_email) }}
                    </div>
                </div>
                <small id="fileHelp" class="form-text text-muted">This will send the report(s) out to the stored directory list.</small>
            </div>
            <div class="form-group">
                {{ wtf.form_field(form.emailadd) }}
            </div>
            <div class="form-group">
                {{ wtf.form_field(form.password) }}
            </div>-->
            <div class="form-group">
                <!--<button class="btn btn-primary" type="button" disabled>-->
                    <!--<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>-->
                        <!--Loading...-->
                <!--</button>-->
                {{ wtf.form_field(form.submit, button_map={'submit':'info'}) }}
            </div>
        </form>
        <p>View past reports:
            <a href="{{ url_for('ADMICONArchive') }}" class="btn btn-will btn-md">
                <span class="glyphicon glyphicon-folder-open"></span> ADM ICON Report Archive
            </a>
        </p>
        
        
        
        
        
        
    </div>
</div>

{% endblock %}